body {
  font-family: sans-serif;
  font-size: 13px;
}
td {
  padding: 10px;
  text-align: center;
  background-color: #A1D8D6;
  color: #00675a;
}
.product-name {
  width: 20%;
  text-align: left;
  background-color: #b1d2d1;
}
.blank, .phases td {
  background-color: #fff;
  color: #000;
}
table {
  width: 100%;
  margin: 0 auto;
}
.watermark {
  margin-top: 10px;
  float: right;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}